{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}

{% block body %}
    <h1>Home Page</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam amet commodi debitis ducimus hic illo ipsam
        minus, neque nobis non odio officiis quasi ratione sed sit tempore veniam vero.
    </p>
{% endblock %}
